body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.container {
    padding: 1rem 2rem;
}

header {
    border-bottom: 0.1rem solid #ccc;
    font-size: 2rem;
    line-height: 1em;
}

main {
    min-height: calc(100vh - 8.1rem);
}

footer {
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    line-height: 1em;
}

.result {
    font-size: 4rem;
}

.countResult {
   font-size: 2rem;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 15px;
}

span {
color: rgb(149, 173, 173);
}